@import 'null-style';
@import 'base';
//--------------------------------------
:root {
    --widthContainer: 1140px;
}

html,
body {
    height: 100%;
    overflow-x: hidden !important;
}

body {
    background-color: $whiteColor;
    font-family: $fontFamilyBase;
}

.hidden {
    overflow: hidden;
}

main {
    grid-area: main;
}

h1 {
    font-size: 0;
    position: absolute;
    z-index: -200;
    opacity: 0;
}

.container {
    width: var(--widthContainer);
    height: max-content;
}

b {
    font-weight: bold !important;
}

.active-nav-link {
    color: $blueBullet;
    @include textBorderBlack;
    cursor: default !important;
    &:hover {
        color: $blueBullet !important;
        cursor: default !important;
    }
}

@import 'header';
@import 'navigation-block';
@import 'advertising-block';
@import 'info-block';
//------------------------
//------------------------
//------------------------
//------------------------
//----------MEDIA--------------
@media (max-width: 1480px) {
     :root {
        --widthContainer: 1024px;
    }
    .container {
        padding: 0px 15px;
    }
}

@media (max-width: 1024px) {
     :root {
        --widthContainer: 768px;
    }
}

@media (max-width: 768px) {
     :root {
        --widthContainer: 480px;
    }
    .container {
        padding: 0px 9px;
    }
}

@media (max-width: 480px) {
     :root {
        --widthContainer: 100%;
    }
}